annotated-types
anyio
asttokens 
certifi
cloudpickle
comm 
contourpy
cycler
debugpy 
decorator 
distro
exceptiongroup 
executing 
filelock
fonttools
fsspec
grad-cam
h11
httpcore
httpx
idna
importlib_metadata 
ipykernel 
ipython 
ipython_pygments_lexers 
jedi 
Jinja2
jiter
joblib
jupyter_client 
jupyter_core 
kiwisolver
llvmlite
MarkupSafe
matplotlib
matplotlib-inline 
monai
mpmath
nest_asyncio 
networkx
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai
opencv-python
packaging
pandas
parso 
pexpect 
pickleshare 
pillow
platformdirs 
prompt_toolkit 
psutil 
ptyprocess 
pure_eval 
pydantic
pydantic_core
pydicom
Pygments 
pyparsing
python-dateutil
pytz
pyzmq 
scikit-learn
scipy
shap
six
slicer
sniffio
stack_data 
sympy
threadpoolctl
torch
torchvision
tornado 
tqdm
traitlets 
triton
ttach
typing-inspection
typing_extensions 
tzdata
wcwidth 
zipp 
